.dasom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-image: url("../../assets/images/47-1.svg");
  background-size: calc(175%);
  background-position: 30% 114%;

  /** 아이폰 x **/
  @media(min-height: 812px) {
    background-repeat: no-repeat;
    background-size: 170%;
    background-position: 30% 138%;
}

  /** 테블릿 pc **/
  @media(min-height: 1020px) {
    background-repeat: no-repeat;
    background-size: 250%;
    background-position: 42% 98%;
  }
  
  @media(min-width: 1025px) {
    background-repeat: no-repeat;
    background-size: 2000%;
    background-position: 42% 80%;
  }

  &--header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38%;
    display: flex;
    margin-top: 5px;

    /** 태블릿 pc **/
    @media(min-height: 1020px) {
      margin-top: 24px;
    }

    &--image {
      width: 30%;
      margin-left: 20px;

      @media(min-width: 1025px) {
        width: 10%;
        margin-top: 16px;
      }
    
      &__logo {
        width: 80%;
        height: 25%;
      }
    }

    &--title {
      width: 60%;
      display: flex;
      flex-direction: column;
      margin-top:15px;
      
      &__main {
        font-size: 4vw;
        margin-bottom: 1.6vh;
        color: #000;

        @media(min-width: 1025px) {
          font-size: 30px;
        }
      }
      
      &__name {
        font-size: 6.5vw;
        color: #000;

        @media(min-width: 1025px) {
          font-size: 50px;
        }
      }
    }
  }

  &--contain {
    width: 96%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 62%;
    margin-top: -5px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);

    /** PC용 **/
    @media(min-width: 1025px) {
      flex-direction: row;
      position: fixed;
      left: 16%;
      border: none;
    }
    /** 태블릿 pc **/
    @media(min-height: 1020px) {
      margin-top: 20px;
    }

    &__playStore {
      // width: 55vw;
      width: 206px;
      height: 85px;
      // height: 95px;

      /** 태블릿 pc **/
      @media(min-height: 1020px) {
        width: 270px;
        height: 105px;
      }
    }

    &__appStore {
      width: 206px;
      height: 85px;
      margin-top: -10px;

      /** PC용 **/
      @media(min-width: 1025px) {
        margin-top: 0px;
      }

      /** 태블릿 pc **/
      @media(min-height: 1020px) {
        width: 270px;
        height: 105px;
      }
    }
  }
}